<input type="hidden" id="_csrf" name="_csrf" value="<%= csrftoken %>" />
<div>
  <div class="header">
    <div class="navbar navbar-inner">
      <a href="/"><img src="<%= dynamic('/images/logo.png') %>" alt="" style="width: 200px; padding: 10px; -webkit-filter: grayscale(100%);"/></a>
      <ul class="nav pull-right">
        <li>
          <a data-toggle="dropdown" href="#" class="dropdown-toggle" style="color: darkgray;">
            <i class="fa fa-user fa-2x"></i>
            <span><%= user.id%></span>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="/admin/user/edit/<%= user._id%>"><i class="fa fa-user"></i>&nbsp;Profile</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/admin/logout" id="_logout"><i class="icon-off"></i>&nbsp;Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--navbar-inner-->
  </div>
  <div class="header_content">
    <div class="col-lg-12" >
      <div class="header_align">
        <ul class="header_nav" id="_topmenu"></ul>
      </div><!--header_align-->
    </div>
  </div><!--header_content-->
</div>

<script type="text/javascript" src="<%= dynamic('/javascripts/menu.js')%>"></script>
<script type="text/template" id="_tmplTopmenu">
<li>
  <a href="{{url}}">
    <i class="fa fa-{{icon}} fa-2x"></i><h6>{{menu}}</h6>
  </a>
</li>
</script>
