<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jquery -->
<script type="text/javascript" src="<%= dynamic('/light/jquery/jquery.js') %>"></script>

<!-- fontawesome : The iconic font designed for Bootstrap -->
<link rel="stylesheet" href="<%= dynamic('/light/font-awesome/css/font-awesome.css') %>" />

<!-- bootstrap : front-end framework for faster and easier web development -->
<script type="text/javascript" src="<%= dynamic('/light/bootstrap/dist/js/bootstrap.js') %>"></script>
<link rel="stylesheet" href="<%= dynamic('/light/bootstrap/dist/css/bootstrap.css') %>" />

<!-- Underscore -->
<script type="text/javascript" src="<%= dynamic('/light/underscore/underscore.js') %>"></script>

<!-- alertify : browser dialogs never looked so good -->
<script type="text/javascript" src="<%= dynamic('/light/alertify.js/lib/alertify.js') %>"></script>
<link rel="stylesheet" href="<%= dynamic('/light/alertify.js/themes/alertify.core.css') %>" />
<link rel="stylesheet" href="<%= dynamic('/light/alertify.js/themes/alertify.bootstrap.css') %>"/>

<!-- moment -->
<script type="text/javascript" src="<%= dynamic('/light/moment/moment.js') %>"></script>

<!-- Application JS -->
<script type="text/javascript" src="<%= dynamic('/javascripts/light.js') %>"></script>
<link rel="stylesheet" media="screen" href="<%= dynamic('/stylesheets/light.css') %>">

<script type="text/javascript" src="<%= dynamic('/javascripts/light.js') %>"></script>
