<!DOCTYPE html>
<html>
<head>

  <title><%= title %></title>
  <% include _required.html %>
  <script type="text/javascript" src="<%= dynamic('/javascripts/timeline.js')%>"></script>
  <script type="text/javascript" src="<%= dynamic('/javascripts/light.fileupload.js')%>"></script>

</head>
<body>

<% include _header.html %>

<!-- 顶部标题 -->
<header class="header" style="border-bottom: 1px solid #f4f4f4;">
  <nav class="navbar navbar-static-top" role="navigation" style="margin: 0px;">
    <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button" style="margin-left: 10px;">
      <img src="<%= dynamic('/images/logo.png') %>" style="height: 30px;">
    </a>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" id="btnAdd">
            <i class="fa fa-plus-square"></i>
            <span>添加</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span>Sara</span>
          </a>
        </li>
        <li>
          <a href="/logout">
            <i class="fa fa-sign-out"></i>
            <span>退出</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-3" style="padding-right: 5px;">
      <div class="thumbnail" style="min-height: 200px;">
        <div style="border-bottom: 1px solid #f4f4f4; margin: 5px; padding-bottom: 7px;">
          <form action="#" class="text-right">
            <div class="input-group">
              <input type="text" class="form-control input-sm" placeholder="Search" id="txtKeyword">
              <div class="input-group-btn">
                <a href="#" class="btn btn-sm btn-primary" id="btnSearch" style="background-color: #3a87ad;">
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
        <div id="divTagList"></div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row" id="divImageList"></div>
    </div>
  </div>
</div>

<!-- 添加项目用对话框 -->
<div class="modal fade" id="divAddShot">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>

        <h4 class="modal-title"><i class="fa fa-photo"></i>&nbsp;添加</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="txtTitle" class="col-sm-3 control-label">标题</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="txtTitle" placeholder="标题">
            </div>
          </div>
          <div class="form-group">
            <label for="txtMessage" class="col-sm-3 control-label">消息</label>
            <div class="col-sm-7">
              <textarea class="form-control" id="txtMessage" placeholder="消息详细"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="txtTag" class="col-sm-3 control-label">标签</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="txtTag" placeholder="标签，可用逗号分隔指定多个">
            </div>
          </div>
          <div class="form-group">
            <label for="divImage" class="col-sm-3 control-label">图片</label>
            <div class="col-sm-7">
              <div class="file-container" id="divImage"
                   style="border: 1px solid #ccc; height: 38px; width: 313px; padding-left: 5px;"></div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="btnSave">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 标签模板 -->
<script type="text/template" id="tmplTag">
  <span class="label label-info">
    <i class="fa fa-tag"></i>
    <a href="#" style="color: White;" tag="{{name}}">&nbsp;{{name}}</a>
  </span>
</script>

<!-- 一览模板 -->
<script type="text/template" id="tmplImageList">
  <div class="col-md-12">
    <div class="thumbnail">
      <div class="row-fluid">
        <div class="span4">
          <div class="thumbnail2">
            <img src="/file/{{image}}">
          </div>
        </div>
        <div class="span8">
          <div>
            <$ for(var idx in tag) { $>
            <span class="label label-info">
              <i class="fa fa-tag"></i>
              <a href="#" style="color: White;">&nbsp;{{tag[idx]}}</a>
            </span>
            <$ } $>
          </div>
          <a href="#" class="Title">{{title}}</a>
          <p>{{message}}</p>
        </div>
      </div>
    </div>
  </div>
</script>

<% include _footer.html %>

</body>
</html>